@import "bootstrap/scss/functions";
$font-family-sans-serif: "Work Sans", sans-serif;
$body-color: #000000;
/* 

$primary:#C3443E;
$secondary:#2E2E2E; */

/* $font-size-base:1rem;

$h1-font-size:$font-size-base * 2.1875;
$h2-font-size:$font-size-base * 1.5;
$h3-font-size:$font-size-base * 1.25;
$h4-font-size:$font-size-base * 1.125;
$h5-font-size:$font-size-base * 1.0625;
$h6-font-size:$font-size-base; */

/* $font-weight-bolder:800; */
/* $enable-important-utilities:false; */
/* $enable-negative-margins: true; */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1920px,
);

@import "bootstrap/scss/variables";

//Typography
$font-family-primary: $font-family-sans-serif;

/* 
$font-family-secondary: 'Poppins', sans-serif;
$font-family-tertiary: 'Montserrat', sans-serif; */

//Colors
/* $mu-rojo:$primary;
$mu-amarillo:#EED861;
$mu-azul:#436FAE;
$mu-verde:#60A16D;
$mu-negro:$secondary;
$mu-gris:#B7B7B7;
$desactivado:#898989;
$azul-texto:#1A36A8;
$gris-boton:#F2F2FD;

$degrade-subsecciones:linear-gradient(180deg,#1C34AF 0%, #13408B 100%);
$degrade-header:linear-gradient(180deg,#13408B 0%, #1C34AF 100%);
$overlay:rgba(0, 0, 0, 0.55);

$mu-fondo:linear-gradient(360deg, #EBEBFF 0%, $white 100%); 
$mu-fondo-mobile:linear-gradient(90deg, #EBEBFF 0%, $white 100%); 

$font-size-xsm:$font-size-base * .625; */
